<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability -->
  <include file="$(find j2s7s300_moveit_config)/launch/j2s7s300_demo.launch">
    <arg name="use_rviz" value="false"/>
    <arg name="fake_execution" value="true"/>
  </include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

  <!-- Run rviz with prepared config -->
  <include file="$(find j2s7s300_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="false" />
    <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/mtc.rviz" />
  </include>
</launch>
